:root {
  --color-primary: #f87c59;
  --color-secondary: #df7050;
  --color-bg-light: #323647;
  --color-bg-dak: #282a39;

  --box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;

  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

/* Utilities */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.l-heading {
  font-size: 4rem;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  margin: 2.6rem 2rem 2.6rem 0;
}

.text-primary {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

i {
  transition: all 0.3s ease-in;
}

ion-icon {
  font-size: 1.8rem;
}

/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;

  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.btn-nav {
  background-color: var(--color-primary);
  padding: 4px 1.5rem;
}

.btn-nav:hover,
.btn-nav:active {
  background-color: var(--color-secondary);
}

.btn-primary {
  background-color: var(--color-primary);
  padding: 8px 3rem;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--color-secondary);
}

.btn-border {
  padding: 8px 3rem;
  box-shadow: inset 0 0 0 2px #df7050;

  transition: all 0.4s ease-in;
}

.btn-border:hover,
.btn-border:active {
  background-color: var(--color-secondary);
}

.btn-border-purchase {
  padding: 6px 5rem;
  box-shadow: inset 0 0 0 2px #df7050;
}

.btn-border-purchase:hover,
.btn-border-purchase:active {
  background-color: var(--color-secondary);
}

/* Section: Navigation */
#nav {
  background-color: var(--color-bg-light);

  position: sticky;
  top: 0;
  z-index: 10;
}

#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;
}

#nav .logo {
  width: 4rem;
}

#nav .logo img {
  width: 100%;
}

#nav .nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#nav .nav-list .nav-item {
  font-size: 1.8rem;
}

#nav .nav-list .nav-item .nav-link {
  transition: all 0.3s ease-out;
}

#nav .nav-list .nav-item .nav-link:hover {
  color: var(--color-secondary);
}

/* Section: Header */
#header {
  background-color: var(--color-bg-light);
  color: #fff;
  padding: 10rem 3rem;
}

#header .hello {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

#header .text {
  font-size: 2rem;
  font-weight: 200;
  text-transform: capitalize;

  margin-bottom: 2.6rem;
}

#header .info {
  padding-right: 62rem;

  font-size: 1.6rem;
  font-weight: 400;
}

#header .header-btn {
  display: flex;
  gap: 1.6rem;

  margin-top: 4.5rem;
}

/* Section: Services */
#service {
  background-color: var(--color-bg-dak);
  color: #fff;
  padding: 8rem 3rem;
}

#service .info {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

#service .info .left-info {
  font-size: 1.8rem;
  text-transform: capitalize;

  flex: 30%;
}

#service .info .left-info .option {
  display: flex;
  align-items: center;
  gap: 3rem;

  border-bottom: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 3rem;

  transition: all 0.3s ease-in;
}

#service .info .left-info .active {
  border-color: var(--color-secondary);
}

#service .info .left-info .active i {
  color: var(--color-secondary);
}

#service .info .left-info .option-02 {
  margin-top: 2.5rem;
}

#service .info .left-info .option:hover {
  border-color: var(--color-secondary);
  transform: scale(1.01);
}

#service .info .left-info .option:hover i {
  color: var(--color-secondary);
}

#service .info .right-info {
  display: flex;
  gap: 3rem;
  flex: 65%;
}

#service .info .right-info .box {
  background-color: var(--color-bg-light);
  border-radius: 8px;
  padding: 3rem;

  transition: all 0.3s ease-in;
}

#service .info .right-info .box:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow);
}

#service .info .right-info .box .title {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  transition: all 0.3s ease-in;
}

#service .info .right-info .box:hover .title {
  color: var(--color-primary);
}

#service .info .right-info .box:hover .btn {
  background-color: var(--color-primary);
  transition: all 0.5s ease-in;
}

#service .info .right-info .box:hover .btn:hover {
  background-color: var(--color-secondary);
}

#service .info .right-info .box .price {
  font-size: 1.6rem;
  text-align: center;
  margin: 1.6rem 0;
}

#service .info .right-info .box .price span {
  font-size: 4rem;
  font-weight: 500;
}

#service .info .right-info .box .text {
  font-size: 1.5rem;
  font-weight: 300;
}

#service .info .right-info .box .time {
  font-size: 1.6rem;
  margin: 2.2rem 0 1.4rem 0;

  display: flex;
  gap: 1.4rem;
  align-items: center;
}

#service .info .right-info .box .feature {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;

  margin-bottom: 5px;
}

#service .info .right-info .box .btn {
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section: Portfolio */
#portfolio {
  background-color: var(--color-bg-light);
  color: #fff;
  padding: 8rem 3rem;
}

#portfolio .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

#portfolio .box {
  transition: all 0.3s ease-in;
}

#portfolio .boxes .box .img {
  height: 25rem;
  background-color: var(--color-primary);
  background-position: center;
  background-size: cover;

  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

#portfolio .boxes .box:hover {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

#portfolio .box .info {
  margin-top: 2rem;
  padding: 0 0 2rem 2rem;
}

#portfolio .box .info .title {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: all 0.4s ease-in;
}

#portfolio .boxes .box:hover .title {
  color: var(--color-secondary);
}

#portfolio .box .info p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f3f3f3;
}

#portfolio .link {
  display: inline-block;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--color-primary);

  margin-top: 5rem;
  transition: all 0.4s ease-in;
}

#portfolio .link:hover {
  color: var(--color-secondary);
  border-bottom: 1px solid transparent;
}

#portfolio .boxes .img-01 {
  background-image: url(../img/portfolio/portfolio-01.png);
}
#portfolio .boxes .img-02 {
  background-image: url(../img/portfolio/portfolio-02.png);
}
#portfolio .boxes .img-03 {
  background-image: url(../img/portfolio/portfolio-03.png);
}

/* Section: About */
#about {
  background-color: var(--color-bg-dak);
  color: #fff;
  padding: 8rem 3rem;
}

#about .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  margin-top: 6rem;
}

#about .info .info-left {
  flex: 48%;
  padding-right: 20rem;

  position: relative;
}

#about .info .info-left .section-heading {
  font-weight: 500;
  margin-bottom: 0;
}

#about .info .info-left .text {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

#about .info .info-left .text::after {
  content: "";
  position: absolute;
  top: 56%;
  height: 2px;
  width: 18rem;
  background-color: var(--color-primary);
  margin-left: 2rem;
}

#about .info .info-left .contact {
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about .info .info-left .contact a {
  color: var(--color-primary);
}

#about .info .info-right {
  flex: 50%;
}

#about .info .info-right .greeting {
  display: inline-block;
  background-color: var(--color-primary);
  border-radius: 6px;
  font-size: 1.8rem;
  padding: 6px 2rem;
  margin-bottom: 1.5rem;
}

#about .info .info-right .title {
  font-size: 1.7rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

#about .info .info-right .text {
  font-size: 1.8rem;
  color: #d1cdcd;
  margin-bottom: 2.5rem;
}

/* Section: Testimonial */
#testimonial {
  background-color: var(--color-bg-light);
  color: #fff;
  padding: 8rem 3rem;
}

#testimonial .boxes {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

#testimonial .boxes .box {
  background-color: var(--color-bg-dak);
  padding: 3rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#testimonial .boxes .box .person {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}

#testimonial .boxes .box .person .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#testimonial .boxes .box .person .img img {
  width: 100%;
}

#testimonial .boxes .box .person .img .img-01,
#testimonial .boxes .box .person .img .img-03 {
  height: 100%;
}

#testimonial .boxes .box .person .name {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 100;
  text-transform: uppercase;
}

#testimonial .boxes .box .person .name span {
  font-weight: 700;
}

#testimonial .boxes .box .text {
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #d1cdcd;
}

/* Section: Work Together */
#together {
  background-color: var(--color-bg-dak);
  padding: 3rem 3rem;
}

#together h2 {
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

/* Section: Footer */
#footer {
  background-color: var(--color-bg-light);
  color: #fff;
  padding: 2rem 3rem;
}

#footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .copyright {
  font-size: 1.5rem;
}

#footer .copyright a {
  transition: all 0.1s ease-in;
}

#footer .copyright a:hover {
  color: var(--color-secondary);
}

#footer .social {
  display: flex;
  gap: 2rem;
}

#footer .social .icon {
  font-size: 1.6rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}

#footer .social .icon:hover {
  background-color: var(--color-secondary);
  color: #fff;
}
